.error {
  width: 100%;
  padding: 15px 20px;
  background: #f99;
  color: red;
  border: 1px solid red;
}

.success {
  width: 100%;
  padding: 15px 20px;
  background: #8c8;
  color: green;
  border: 1px solid green;
}

.close {
  border-radius: 50%;
  background: black;
  opacity: 0.3;
  color: white;
  border: 0;
}