.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file + label {
  font-size: 1.1em;
  color:#777;
  background-color: #ccc;
  border: 1px solid #777;
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
}

.container {
  clear: both;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.removeButton {
  float: right;
}