.appHeader {
  border-bottom: 1px solid #222;
  text-align: center;
  h2 {
    font-weight: normal;
  }
}

.appIntro {
  font-size: large;
}

.list {
  list-style: none;
  padding-left: 0;
}

.body {
  padding: 10px 15px;
}

.addAnotherFile {
  padding: 10px;
}