.button {
  background: #764B8E;
}

.button {
  padding: 10px 10px;
  border: 0;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1em;
}

.danger {
  background: #AA5585;
}

.disabled {
  opacity: 0.5;
}

.utility {
  background: #A5C663;
}